<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a  class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">iGAP Matrimony</h5>
                  </div>
                  <span style="font-size: small;" class="text-danger">{{message}}</span>

                  <form class="row g-3 needs-validation" novalidate="" [formGroup] = "formdata" (ngSubmit)="submit(formdata.value)">

                    <div class="col-12">
                      <label for="1" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="1" formControlName="username">
                        
                      </div>
                      <em class="text-danger"  style="font-size: small;" *ngIf="formdata.controls.username.touched && formdata.controls.username.invalid">Please Enter Username</em>
                    </div>

                    <div class="col-12">
                      <label for="2" class="form-label">Password</label>
                        <div class="input-group">
                            <input [type]="show_button ? 'text' : 'password'" name="password" class="form-control" id="2" formControlName="password">
                            <span><button type="button" class="btn btn-info "><i  [class]="show_eye ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="showPassword()"></i></button></span>
                        </div>
                        <em class="text-danger"  style="font-size: small;" *ngIf="formdata.controls.password.touched && formdata.controls.password.invalid">Please Enter Password</em>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="3">
                        <label class="form-check-label" for="3">Remember me</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <a >Create an account</a></p>
                    </div>
                  </form>

                </div>
              </div>

              

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>



